.icon-app-m {
  display: inline-block;
  background: url(../images/icons.png) no-repeat;
  vertical-align: middle;
  background: url(../images/icon-app-m.png);
  width: 53px;
  height: 60px;
}
.icon-app-m-GRSFRZ {
  background-position: 0px 0px;
}
.icon-app-m-QYSFRZ {
  background-position: -66px 0px;
}
.icon-app-m-GRSFRZ {
  background-position: -132px 0px;
}
.icon-app-m-QYXYBG {
  background-position: -198px 0px;
}
.icon-app-m-TRXYBG {
  background-position: -264px 0px;
}
.icon-app-m-SJRZ {
  background-position: -330px 0px;
}
.icon-app-m-YXRZ {
  background-position: -396px 0px;
}
.icon-app-m-ZSXQXXFB {
  background-position: -462px 0px;
}
.icon-app-m-GZCX {
  background-position: -528px 0px;
}
.icon-app-m-QYXXCX {
  background-position: -594px 0px;
}
.icon-app-m-GRXXCX {
  background-position: -660px 0px;
}
.icon-app-m-GRZYZGRZ {
  background-position: -726px 0px;
}
.icon-app-m-GRXXHD {
  background-position: -792px 0px;
}
.icon-app-m-QYXXHD {
  background-position: -858px 0px;
}
.icon-app-m-QGGRXX {
  background-position: -924px 0px;
}
.icon-app-m-FCPG {
  background-position: -990px 0px;
}
.icon-app-m-CLPG {
  background-position: -1056px 0px;
}
.icon-app-m-QYKB {
  background-position: -1122px 0px;
}
.icon-app-s {
  display: inline-block;
  background: url(../images/icons.png) no-repeat;
  vertical-align: middle;
  background: url(../images/icon-app-s.png) no-repeat;
  width: 22px;
  height: 20px;
  vertical-align: -6px;
}
.icon-app-s-GZCX {
  background-position: 0px -23px;
}
.icon-app-s-GRSFRZ,
.icon-app-s-QYSFRZ {
  background-position: 0px -46px;
}
.icon-app-s-XYDT {
  background-position: 0px -69px;
}
.icon-app-s-ZYCXJL {
  background-position: 0px -92px;
}
.icon-app-s-JZZR {
  background-position: 0px -115px;
}
.icon-app-s-TMTX {
  background-position: 0px -138px;
}
.icon-app-s-TRXYBG {
  background-position: 0px -184px;
}
.icon-app-s-SJRZ {
  background-position: 0px -207px;
}
.icon-app-s-YXRZ {
  background-position: 0px -230px;
}
.icon-app-s-ZSXQXXFB {
  background-position: 0px -253px;
}
.icon-app-s-GRXYBG {
  background-position: 0px -276px;
}
.icon-app-s-QYXYBG {
  background-position: 0px -299px;
}
.icon-app-s-QYXXCX {
  background-position: 0px -322px;
}
.icon-app-s-GRXXCX {
  background-position: 0px -345px;
}
.icon-app-s-GRZYZGRZ {
  background-position: 0px -368px;
}
.icon-app-s-GRXXHD {
  background-position: 0px -391px;
}
.icon-app-s-QYXXHD {
  background-position: 0px -414px;
}
.icon-app-s-QGGRXX {
  background-position: 0px -437px;
}
.icon-app-s-FCPG {
  background-position: 0px -460px;
}
.icon-app-s-CLPG {
  background-position: 0px -483px;
}
.icon-app-s-QYKB {
  background-position: 0px -506px;
}
.manage-app {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.manage-app .panel-my-app.panel .panel-heading {
  background-color: #f3f3f3;
  padding: 5px;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 12px;
}
.manage-app .panel-my-app.panel .panel-title {
  float: left;
  font-size: 16px;
}
.manage-app .panel-my-app.panel .panel-body {
  padding: 15px 20px;
}
.manage-app .panel-my-app.panel .panel-body h3 {
  font-size: 14px;
  font-family: Tahoma, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  margin-bottom: 5px;
}
.manage-app .panel-my-app .list-group {
  position: relative;
  text-align: center;
  font-size: 12px;
  margin-left: -20px;
}
.manage-app .panel-my-app .list-group li {
  width: 72px;
  min-height: 120px;
  float: left;
  margin-left: 16px;
  padding-top: 5px;
}
.manage-app .panel-my-app .list-group .icon-app-m {
  position: relative;
}
.manage-app .panel-my-app .list-group .app-name {
  margin-top: 10px;
  display: block;
}
.manage-app .panel-my-app .list-group .icon-app-handle {
  position: absolute;
  top: 0px;
  right: -1px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.manage-app .panel-my-app .my-app {
  min-height: 150px;
}
.manage-app .panel-my-app .my-app li {
  cursor: move;
}
.manage-app .panel-my-app .my-app li:hover .icon-app-handle {
  background-position: -195px -388px;
}
.manage-app .panel-my-app .my-app li .icon-app-handle {
  background-position: -195px -402px;
}
.manage-app .panel-my-app .my-app .mark-icon {
  display: none;
}
.manage-app .panel-my-app .all-app {
  min-height: 150px;
}
.manage-app .panel-my-app .all-app li {
  position: relative;
  padding: 1px;
  padding-top: 6px;
  cursor: pointer;
}
.manage-app .panel-my-app .all-app li:hover .icon-app-handle {
  background-position: -180px -388px;
}
.manage-app .panel-my-app .all-app li .icon-app-handle {
  background-position: -180px -402px;
}
.manage-app .panel-my-app .all-app .mark-icon {
  position: absolute;
  top: -2px;
  left: -5px;
}
.sidebar {
  float: left;
  width: 178px;
  border: 1px #e0e0e0 solid;
  background-color: #fff;
  margin: 24px 0;
}
.sidebar a {
  text-decoration: none;
}
.sidebar .nav {
  padding: 15px 0;
}
.sidebar .nav > li {
  float: none;
  margin-bottom: 1px;
}
.sidebar .nav > li:hover,
.sidebar .nav > li.hover,
.sidebar .nav > li.active {
  background-color: #EFEFEF;
}
.sidebar .nav > li > a {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 23px;
  text-decoration: none;
}
.sidebar .nav > li > a > .icon {
  margin-right: 10px;
}
.sidebar .panel {
  border: none;
}
.sidebar .panel .panel-heading {
  padding: 0;
  line-height: 38px;
  border: 1px #E0E0E0 solid;
  border-width: 1px 0px;
  background-color: #F8F8F8;
  padding-left: 20px;
  font-size: 14px;
  margin-top: -1px;
}
.sidebar .manage-app {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  line-height: 1.4285;
  font-size: 12px;
  color: #999999;
}
.sidebar .manage-app:hover {
  color: #999999;
}
.sidebar .manage-app .icon {
  vertical-align: -2px;
}
.sidebar .app {
  font-size: 12px;
}
.sidebar .app .icon-app-s {
  margin-top: -4px;
  margin-right: 5px;
}
.sidebar .add-app {
  text-align: center;
  margin-bottom: 15px;
}
.sidebar .add-app a {
  display: inline-block;
}
.sidebar .icon-add-app {
  background: url(../images/icon-add-app.png);
  width: 140px;
  height: 108px;
}
.sidebar .icon-add-app:hover {
  background-position: -0px -109px;
}
.sidebar .menu a {
  color: #545454;
  text-decoration: none;
}
.sidebar .menu .open.unhover {
  background-color: transparent;
}
.sidebar .menu .icon-arrow-right {
  background-position: -191px -415px;
  position: absolute;
  width: 7px;
  height: 7px;
  top: 17px;
  right: 20px;
  margin-right: 0 !important;
}
.sidebar .menu > li {
  position: relative;
  z-index: 10;
}
.sidebar .menu > li.open .sub-menu {
  display: block;
}
.sidebar .menu > li.open .icon-arrow-right {
  background-position: -183px -416px;
}
.sidebar .menu > li .sub-menu {
  display: none;
}
.sidebar .menu > li .sub-menu .wrap {
  padding: 5px 0;
  font-size: 12px;
  white-space: nowrap;
  background-color: #fff;
}
.sidebar .menu > li .sub-menu .wrap .arrow {
  display: none;
}
.sidebar .menu > li .sub-menu .wrap ul {
  color: #666666;
  overflow: hidden;
}
.sidebar .menu > li .sub-menu .wrap ul li.active,
.sidebar .menu > li .sub-menu .wrap ul li:hover {
  font-weight: bold;
}
.sidebar .menu > li .sub-menu .wrap ul li.active a,
.sidebar .menu > li .sub-menu .wrap ul li:hover a {
  border-color: #e8e8e8;
  background-color: #EFEFEF;
}
.sidebar .menu > li .sub-menu .wrap a {
  display: block;
  padding: 5px;
  padding-left: 55px;
  overflow: hidden;
  color: #666666;
  border: 1px transparent solid;
  border-width: 1px 0;
}
.sidebar .menu > li .sub-menu .wrap a > i {
  float: left;
  width: 4px;
  height: 4px;
  background-color: #BBBBBB;
  margin-top: 9px;
  margin-right: 7px;
}
.sidebar .app-category .panel {
  padding-bottom: 0;
}
.sidebar .app-category .panel .panel-heading {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.sidebar .app-category .panel .nav {
  display: none;
}
.sidebar .app-category .panel.open .nav {
  display: block;
}
.sidebar .app-category .hook-add-app-category {
  margin-left: 3px !important;
  margin-right: 0 !important;
}
.sidebar .app-category .icon-add {
  width: 12px;
  height: 12px;
  cursor: pointer;
  background-position: -180px -402px;
}
.sidebar .app-category .icon-add:hover {
  background-position: -180px -388px;
}
.sidebar .app-category .tooltip {
  white-space: nowrap;
}
.sidebar .app-category .popover-title {
  display: none;
}
.sidebar .app-category .popover-content {
  white-space: nowrap;
}
.sidebar .my-app .panel-heading {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.sidebar .my-app.close .nav {
  display: none;
}
body {
  background-color: #EEEEEE;
}
.footer {
  border-top: none;
}
.navbar-main {
  margin-left: 0;
}
.navbar-main .nav {
  padding: 0;
  margin: 0;
  font-size: 20px;
  margin-top: 20px;
  color: #626262;
}
.navbar-main .nav.pull-right {
  margin-right: 0;
}
.navbar-main .nav > li {
  padding: 0 2px;
  border-left: none;
  border-bottom: 2px transparent solid;
  margin-left: 70px;
}
.navbar-main .nav > li:hover,
.navbar-main .nav > li.active {
  border-bottom-color: #E43D40;
}
.navbar-main .nav > li:hover > a,
.navbar-main .nav > li.active > a {
  font-weight: bold;
  text-decoration: none;
}
.navbar-main .nav > li > a {
  color: #626262;
  font-size: 19px;
  padding: 20px 0;
  font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.navbar-main .navbar-slogen {
  float: left;
  font-size: 18px;
  margin-top: 36px;
  font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.center {
  float: right;
  width: 818px;
  margin: 24px 0;
  margin-bottom: 0;
}
.center > .content {
  *zoom: 1;
}
.center > .content:before,
.center > .content:after {
  display: table;
  content: "";
  line-height: 0;
}
.center > .content:after {
  clear: both;
}
.center.center-full {
  float: none;
  width: auto;
}
.nav-company {
  padding: 25px 12px;
  padding-bottom: 10px;
  border-bottom: 1px #E3E3E3 solid;
  color: #666666;
}
.nav-company > li {
  margin-bottom: 15px;
  font-size: 12px;
}
.nav-company .progress {
  width: 72px;
  margin-right: 0;
}
.nav-company a {
  color: #0b72cf;
}
.nav-company a:hover {
  color: #c41f21;
  text-decoration: underline;
}
.nav-company .text-success {
  color: #FF7200;
}
.panel-cards {
  border: 1px #E0E0E0 solid;
  padding: 30px 49px;
  background-color: #fff;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  margin-bottom: 15px;
}
.panel-cards .panel-card {
  width: 186px;
  float: left;
  margin-left: 69px;
}
.panel-cards .panel-card:first-child {
  margin-left: 0;
}
.panel-cards .panel-card p {
  height: 50px;
  color: #999999;
  padding: 0 6px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 15px;
}
.panel-cards .panel-card .text-warning {
  color: #349400;
}
.panel-cards .media {
  padding: 19px;
  padding-top: 22px;
  padding-right: 0px;
  border: 1px #E0E0E0 solid;
  border-bottom: none;
  background-color: #F8F8F8;
}
.panel-cards .media h3 {
  line-height: 1.4285;
  font-size: 22px;
  margin-bottom: 3px;
}
.panel-cards .media-object {
  float: left;
  margin-right: 12px;
}
.panel-cards .media-body {
  text-align: left;
}
.panel-cards .panel-heading-footer {
  color: #fff;
  line-height: 27px;
}
.panel-cards .icon {
  background: url(../images/icon-card.png);
  width: 54px;
  height: 54px;
}
.panel-cards .icon-profile {
  background-position: -470px -8px;
  width: 47px;
  height: 55px;
}
.panel-cards .icon-company-idcard {
  background-position: -241px -11px;
}
.panel-cards .icon-industry {
  background-position: -166px -11px;
  width: 48px;
  height: 55px;
}
.panel-cards .icon-email {
  background-position: -316px -11px;
}
.panel-cards .icon-phone {
  background-position: -390px -9px;
}
.panel-cards .icon-address {
  width: 54px;
  height: 60px;
  margin-top: -6px;
  background-position: -542px -4px;
}
.panel-cards .on .icon-profile {
  background-position: -470px -82px;
  width: 47px;
  height: 55px;
}
.panel-cards .on .icon-company-idcard {
  background-position: -241px -85px;
}
.panel-cards .on .icon-industry {
  background-position: -166px -85px;
  width: 48px;
  height: 55px;
}
.panel-cards .on .icon-email {
  background-position: -316px -90px;
}
.panel-cards .on .icon-phone {
  background-position: -390px -82px;
}
.panel-cards .on .icon-address {
  background-position: -542px -79px;
}
.panel-cards .on.profile .panel-heading-footer {
  background-color: #4C8CBE;
}
.panel-cards .on.company-idcard .panel-heading-footer {
  background-color: #E05B49;
}
.panel-cards .on.industry .panel-heading-footer {
  background-color: #F68A42;
}
.panel-cards .on.email .panel-heading-footer {
  background-color: #75B851;
}
.panel-cards .on.phone .panel-heading-footer {
  background-color: #E47173;
}
.panel-cards .on.address .panel-heading-footer {
  background-color: #3D81C0;
}
.panel-cards .panel-heading-footer {
  background-color: #AFAFAF;
}
.panel-cards .aside {
  overflow: hidden;
  border: 1px #E0E0E0 solid;
  background-color: #F8F8F8;
  padding: 4px 14px;
  color: #666666;
}
.panel-tabs {
  margin-bottom: 15px;
  color: #656565;
}
.panel-tabs .panel-heading {
  padding: 0;
  background-color: #F3F3F3;
}
.panel-tabs .panel-heading a {
  color: #656565;
}
.panel-tabs .panel-title {
  float: left;
  padding: 6px 20px;
  padding-bottom: 0;
  margin-right: 84px;
  font-weight: bold;
}
.panel-tabs .panel-more {
  float: right;
  font-size: 12px;
  color: inherit;
  margin-top: 7px;
  margin-right: 16px;
}
.panel-tabs .nav-tabs {
  float: left;
  margin-top: -1px;
  margin-bottom: -1px;
}
.panel-tabs .tab-content {
  border-width: 1px 0px 0px 0px;
}
.list-company {
  font-size: 12px;
  line-height: 2;
}
.manage-account .panel {
  font-size: 12px;
}
.manage-account .panel .panel-body {
  padding: 0;
}
.manage-account section {
  border-top: 1px #CCCCCC dashed;
  padding: 28px 0;
  overflow: hidden;
}
.manage-account section:first-child {
  border-top: none;
}
.manage-account .info-user {
  margin-left: 40px;
}
.manage-account .info-user .user-face {
  zoom: 1;
  behavior: url(/ui/js/lib/PIE/PIE.htc);
  position: relative;
  float: left;
  overflow: hidden;
  margin-right: 20px;
  width: 126px;
  height: 126px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.manage-account .info-user .user-face img {
  width: 126px;
  height: 126px;
}
.manage-account .info-user .user-face a {
  position: relative;
  zoom: 1;
  behavior: url(/ui/js/lib/PIE/PIE.htc);
  text-align: center;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 2;
  padding-bottom: 4px;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  -pie-background: rgba(0, 0, 0, 0.5);
}
.manage-account .info-user .account-info {
  margin-top: 10px;
}
.manage-account .info-user .account-info > div {
  margin-top: 15px;
  white-space: pre;
}
.manage-account .info-user .account-info > div .name {
  font-size: 14px;
}
.manage-account .info-credit .media {
  margin-left: 40px;
  float: left;
}
.manage-account .info-credit .media .icon {
  background: url(../images/icon-card.png) no-repeat;
}
.manage-account .info-credit .media .icon-credit-idcard {
  width: 67px;
  height: 67px;
  background-position: -0px -0px;
}
.manage-account .info-credit .media .icon-credit-phone {
  width: 67px;
  height: 67px;
  background-position: -84px -0px;
}
.manage-account .info-credit .media .icon-credit-email {
  width: 67px;
  height: 67px;
  background-position: -636px -0px;
}
.manage-account .info-credit .media.on .icon-credit-idcard {
  background-position: -0px -80px;
}
.manage-account .info-credit .media.on .icon-credit-phone {
  background-position: -84px -80px;
}
.manage-account .info-credit .media.on .icon-credit-email {
  background-position: -636px -80px;
}
.manage-account .info-credit .media .media-object {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
.manage-account .info-credit .media .media-heading {
  font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  font-size: 18px;
}
.manage-account .info-credit .media .media-body a {
  display: inline-block;
  margin-left: 15px;
}
.manage-account .info-credit .media .media-body .detail {
  min-height: 21px;
  margin-bottom: 4px;
}
.manage-account .info-credit .media .media-footer {
  clear: both;
  width: 220px;
}
.manage-account .info-etc {
  padding-right: 100px;
}
.manage-account .info-etc .controls > span {
  float: left;
}
.manage-account .info-etc .controls .pull-right {
  float: right;
}
.manage-account.company .account-info {
  margin-top: 0;
  overflow: hidden;
  width: 600px;
  margin-left: -10px;
}
.manage-account.company .account-info > div {
  overflow: hidden;
  width: 290px;
  height: 25px;
  float: left;
  margin-left: 10px;
}
.manage-account.company .panel-cards {
  padding: 0;
  border: none;
  padding-left: 11px;
}
.manage-account.company .panel-cards .panel-card {
  width: 166px;
  margin-left: 22px;
}
.manage-account.company .panel-cards .panel-card .panel-heading-footer {
  font-size: 14px;
}
.manage-account.company .panel-cards .media {
  padding-left: 10px;
}
.page-company-info .show .single {
  display: block;
}
.page-company-info select {
  font-size: 12px;
}
.page-company-info .control-label i.text-warning {
  display: none;
}
.page-company-info .edit .control-label i.text-warning {
  display: inline;
}
.page-company-info .popover {
  white-space: nowrap;
}
.page-company-info .popover-content {
  padding: 4px 8px;
  padding-right: 10px;
}
.page-company-info .icon-validate {
  display: none !important;
}
.page-company-info .nav-tabs-bulge a {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.page-company-info .panel-body {
  padding: 0;
}
.page-company-info .tab-content {
  border: none;
  min-height: 500px;
}
.page-company-info .form-horizental {
  font-size: 12px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 35px;
}
.page-company-info .control-label > i {
  display: none;
  color: #ff4e00;
}
.page-company-info .control-group {
  margin-left: 60px;
  font-size: 12px;
  min-height: 32px;
}
.page-company-info .controls input[type=text],
.page-company-info .controls input[type=password],
.page-company-info .controls select {
  margin-top: 3px;
  padding: 5px 7px;
  font-size: 12px;
  width: 174px;
  padding-bottom: 7px\0;
}
.page-company-info .controls select {
  padding-bottom: 6px;
}
.page-company-info .form-title {
  position: absolute;
  top: 35px;
  right: 2em;
  z-index: 1;
}
.page-company-info .handle {
  text-align: right;
  width: 100px;
  float: right;
  font-size: 12px;
  color: #0B72CF;
}
.page-company-info .handle > span {
  cursor: pointer;
  margin-left: 5px;
}
.page-company-info .btn-small {
  font-size: 12px;
}
.page-company-info .edit .editble {
  display: block;
}
.page-company-info .edit .single {
  display: none;
}
.page-company-info .edit .control-label {
  padding-top: 6px;
}
.page-company-info .edit .update-handle {
  display: none;
}
.page-company-info .edit .cancel-handle,
.page-company-info .edit .save-handle {
  display: inline-block;
}
.page-company-info .edit .control-label > i {
  display: inline;
}
.page-company-info .edit .readonly .control-label {
  padding-top: 0;
}
.page-company-info .edit .readonly .control-label > i {
  display: none;
}
.page-company-info .edit .readonly .single {
  display: inline-block;
}
.page-company-info .cancel-handle,
.page-company-info .save-handle {
  display: none;
}
.page-company-info .editble {
  display: none;
}
.page-company-info .city input {
  width: 136px;
}
.page-company-info .city .city-wrap {
  float: left;
  vertical-align: middle;
}
.page-company-info .city .city-wrap > select {
  width: 76px;
  float: left;
  margin-right: 5px;
}
.page-company-info .mult-input {
  display: inline-block;
}
.page-company-info .mult-input select,
.page-company-info .mult-input input {
  float: left;
  width: 76px;
  margin-right: 5px;
}
.page-company-info .datepicker2 input {
  width: 69px;
}
.panel-user-info {
  font-size: 12px;
}
.panel-user-info .panel-heading {
  padding: 8px 15px;
  font-size: 12px;
}
.panel-user-info .panel-heading > span {
  display: inline-block;
}
.panel-user-info .panel-heading .credit-status {
  padding-left: 50px;
  padding-right: 80px;
}
.panel-user-info .panel-heading .credit-status > span {
  margin-right: 15px;
}
.panel-user-info .panel-heading .credit-status .icon {
  vertical-align: text-top;
  *vertical-align: middle;
  *margin-right: 5px;
}
.panel-user-info .panel-body {
  padding: 12px 0;
  padding: 10px 0;
}
.panel-user-info .right,
.panel-user-info .left {
  float: left;
  padding: 5px 15px;
  padding-bottom: 5px;
  border-left: 1px #E5E5E5 solid;
  margin-left: -1px;
}
.panel-user-info .left {
  width: 350px;
  border-left: none;
}
.panel-user-info .right {
  width: 394px;
}
.panel-user-info .fast-panel > li {
  margin-bottom: 10px;
  min-height: 12px;
}
.panel-user-info .fast-panel strong {
  display: inline-block;
  padding: 0 8px;
}
.panel-user-info .form-search {
  margin-top: 10px;
}
.panel-user-info .form-search .search-query {
  width: 151px;
  padding: 8px;
  float: left;
  margin-right: 5px;
}
.panel-user-info .form-search .btn-large {
  font-size: 14px;
  width: 87px;
  height: 37px;
  padding: 0;
  margin-right: 10px;
}
.panel-user-info .form-search .keyword {
  margin-top: 5px;
}
.panel-user-info .form-search .keyword > a {
  color: #999999;
}
.panel-user-info .amount {
  margin-bottom: 15px;
}
.panel-user-info .amount > span {
  padding-right: 10px;
}
.panel-user-info .amount strong {
  font-weight: bold;
  color: #242424;
  padding-right: 6px;
  font-size: 16px;
}
.panel-user-info .amount .text-warning {
  color: #FF5A00;
  font-size: 20px;
  font-weight: normal;
  vertical-align: sub;
  *vertical-align: baseline;
}
.panel-user-info .btns .btn {
  margin-right: 5px;
  width: 107px;
  height: 37px;
  line-height: 37px;
  padding: 0;
}
.panel-user-info .password-manage {
  margin-top: 27px;
}
.panel-user-info .password-manage > a {
  display: inline-block;
  margin-left: 20px;
}
.panel-table {
  color: #666;
}
.panel-table .panel-heading {
  padding: 10px 15px;
  padding-bottom: 7px;
}
.panel-table .panel-heading a {
  color: #666;
}
.panel-table .panel-heading h3 {
  line-height: 1.2;
  float: left;
  font-size: 14px;
  font-weight: normal;
  margin-right: 35px;
  font-family: Simsun, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.panel-table .panel-heading .nav {
  float: left;
  font-size: 12px;
  overflow: hidden;
}
.panel-table .panel-heading .nav > li {
  margin-top: 2px;
  line-height: 1.2;
  border-left: 1px #666666 solid;
  margin-left: -1px;
}
.panel-table .panel-heading .nav > li > a {
  vertical-align: text-top;
  color: #666;
  padding: 0 12px;
}
.panel-table .panel-heading .view-all {
  float: right;
  font-size: 12px;
}
.panel-table .panel-body {
  padding: 0;
}
